# This file should be copied to /usr/share/xessions/xmonad.desktop
# It assumes the user logging in to XMonad has a ~/.xmonad/xmonadrc file
[Desktop Entry]
Name=XMonad
Comment=Lightweight tiling window manager
Exec=.xmonad/xmonadrc
Type=Application
